/* Estilos existentes */
.App {
  text-align: center;
}

/* Añade estos estilos nuevos */
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto asegura que el navbar ocupe toda la altura de la ventana */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px; /* Ajusta el espacio entre los botones si es necesario */
}

/* Puedes ajustar el height del .App-header o quitar estas propiedades
   si deseas que solo el navbar sea el que se centre verticalmente */
.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resto de tus estilos existentes... */
